.pay_wrap {
	text-align:center;
    margin: 0 auto;
    
}


.pay_nav {
	width:2.2rem;
	height:3rem;
	box-shadow:0 0 0.1rem #666464;
	cursor: pointer;
	display:inline-block;
	margin: 0.3rem;
	position: relative;
}
.pay_nav p{
	text-align: center;
	padding: 20px;
}
.pay_nav p span{
	color: #B21F2D;
	font-weight: bold;
}
.pay_nav a{
	padding: 0.05rem 0.3rem;
	border-radius:30px;
	height: 0.3rem;
	background-color: #B9BBBE;
	cursor: pointer;
	color: #FFFFFF;
}
.pay_nav a:hover{
	background-color: #B21F2D;

}
.paybut{
	background-color: #B21F2D !important;
}
.pay_gwc,.pay_title{
   height: 0.8rem;
   line-height: 0.8rem;
   
}
.pay_gwc{
	width: 0.8rem;
	background: url(../images/jgwc.png) no-repeat left top;	
	background-size: cover;
	float: left;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.pay_gwcactivity{
	display: block;
}
.pay_title{
	display: inline-block;
}
.pay_title h3{
	text-align: center;
    font-size: 0.24rem;
    display: inline-block;
    font-weight: bold;    	
}
.pay_img01,.pay_img02,.pay_img03,.pay_img04{
	width: 80%;
	height: 1.1rem;
	border: 1px solid #AAAAAA;
	margin: 0 auto;
	
}
.pay_img01{
	background: url(../images/Insurance1.jpg) no-repeat center center;
	background-size: cover;
}
.pay_img02{
	background: url(../images/Insurance2.jpg) no-repeat center center;
	background-size: cover;
}
.pay_img03{
	background: url(../images/Insurance3.jpg) no-repeat center center;
	background-size: cover;
}
.pay_img04{
	background: url(../images/Insurance4.jpg) no-repeat center center;
	background-size: cover;
}