<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>电子保函服务平台</title>
		<link rel="stylesheet" href="/static/css/common.css" />
		<link rel="stylesheet" href="/static/css/index.css" />
        <link rel="stylesheet" href="/static/css/form.css" />
        <link rel="stylesheet" href="/static/css/zhuce.css" />
        <link rel="stylesheet" href="/static/css/chanpin.css" />
        <link rel="stylesheet" href="/static/css/metroStyle/metroStyle.css" />
        <link rel="stylesheet" href="/static/layui/css/layui.css">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
		<script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="/static/js/index.js" type="text/javascript"></script>
		<script type="text/javascript" src="/static/js/paging.js" ></script>
		<script type="text/javascript" src="/static/layui/layui.js"></script>
		<script src="/static/js/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.ztree.all.js"></script>
		<style>
			 .fileinput-button {
			 position: relative;  
			 background: #2999d6; 
			 width: 70px; 
			 height: 30px; 
			 color: #fff; 
			 font-size: 14px; 
			 text-align: center; 
			 border: 0; 
			 border-radius: 5%; 
			 line-height: 30px;
			 cursor: pointe;
		 } 
		 .fileinput-button:hover { 
			background: #2999d6;
		 } 
		 .fileinput-button input { 
			 position: absolute; 
			 top: 0; 
			 right: 0; 
			 margin: 0; 
			 opacity: 0; 
			 -ms-filter: 'alpha(opacity=0)'; 
			 font-size: 200px; 
			 direction: ltr; 
			 cursor: pointer; 
			 width: 0.7rem;
   			 height: 0.3rem;
    		 overflow: hidden;
		 } 
		 #text{
		     position: absolute;
             top: 0;
             left: 85px;
             color: #000;
             width: 2rem;
             overflow: hidden;
			 text-overflow: ellipsis;
			 white-space: nowrap;
			 text-align: left;
			 
         }
         .product_cpright{
			width: 100%;
		  }
		  .span_color{
		  	color:red;
		  }
		  .regionContent{
		  	border: 1px solid #b5b5b5;
		    overflow-y: auto;
		    position: absolute;
		    z-index: 9999;
		    background: #fff;
		  }
		  .menuContent{
		  	border: 1px solid #b5b5b5;
		    overflow-y: auto;
		    position: absolute;
		    z-index: 9999;
		    background: #fff;
		  }
         .ztree li a:hover {
             text-decoration: none;
         }
         .ztree li {
             line-height: 30px;
         }
         .ztree li span {
             font-size: 14px;
         }
         .zhuyi_tk {
			width: 8rem;
			margin-left: -4rem;
		}
		.zhuyi_tk ul{
			margin-top: 0.3rem;
		}
		.zhuyi_tk ul li{
			float: left;
		    width: 20%;
		    margin: 0.15rem;
		    position: relative;
		}
		.zhuyi_tk ul li img{
			width: 100%;
			border: 1px solid #999999;
		}
		.pay_nav{
			position: relative;
		}
		.pay_close{
			width: 0.3rem;
			height: 0.3rem;
			background: url(/static/images/close.png) no-repeat center center;
			z-index: 999;
			background-size: cover;
			position: absolute;
			top: -0.5rem;
	        right: -0.5rem;
			cursor: pointer;
		}
		.pay_gwc {
		    width: 0.4rem;
		    background: url(/static/images/xuanzhong.png) no-repeat left top;
		    background-size: cover;
		    float: left;
		    display: none;
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 999;
		    height: 0.4rem;
		}
		.pay_gwcactivity{
		 display: block;
		}
		.btnSubClass{
		    background: #999999 !important;
		    border-bottom: 0.03rem solid #999999 !important;
		    cursor: not-allowed !important;
		}
		</style>
	</head>
<body>
<header></header>
<div class="body_mian">
	<div class="title_wrap">
		<div class="title_nav">
			<h3>产品介绍</h3><img src="/static/images/xz.png" />
			<h3>立即投保</h3><img src="/static/images/xz.png" />
		</div>
		<div class="select-cho">
			<p class="select-chop">已选择：</p>
			<div class="visualSelect" data-id="0">
				中国人民保险
			</div>
			<div id="selectContainerQcOhiqga" class="previewContainer" style="width: 10rem; height: 200px; position: absolute; top: 39px; left: 0px; z-index: 999; overflow: auto; display: none;">
				<img src="/static/images/Insurance1.jpg" alt="中国人民保险" rel="0" val="PICC" data-code="1521">
				<img src="/static/images/Insurance2.jpg" alt="太平洋保险" rel="1" val="CPIC" data-code="1522">
				<img src="/static/images/Insurance3.jpg" alt="中华保险" rel="2" val="CIC" data-code="1523">
				<img src="/static/images/Insurance4.jpg" alt="中国大地保险" rel="3" val="CCIC" data-code="1524">
			</div>
			<span>▼</span>
		</div>
		<form method="post" action="/applyBidPolicy.json" onsubmit="return onCheck()">
			<input type="hidden" th:value="${bidPolicy.insuranceCompany}" name="insuranceCompany" id="insuranceCompany"/>
			<input type="hidden" th:value="${message}" id="message"/>
			<!-- 判断有没有错误信息 -->
			<input type="hidden" th:value="${errorMap}" id="errorMap">
			<!--交易平台流水号-->
			<input type="hidden" th:value="${sequenceNo}" name="sequenceNo"/>
			<table class="formtables" cellspacing="0" cellpadding="0" id="formtables">
				<tr>
					<th colspan="4">被保险人信息</th>
				</tr>
				<tr>
					<td><span class="span_color">*</span>&nbsp;被保险人名称</td>
					<td>
						<input type="hidden" id="appliName" th:value="${bidPolicy.appliName}">
						<input name="insuredName" class="input-text" placeholder="请输入" th:value="${bidPolicy.insuredName}" onChange="getInsuredName()">
						<br/>
						<i th:text="${errorMap['insuredName']}"></i>
					</td>
					<td><span class="span_color">*</span>&nbsp;组织机构代码</td>
					<td>
						<input name="insuredIdNo" class="input-text" placeholder="请输入" th:value="${bidPolicy.insuredIdNo}" onChange="getInsuredIdNo()">
						<br/>
						<i th:text="${errorMap['insuredIdNo']}"></i>
					</td>
				</tr>
				<tr>
					<td><span class="span_color">*</span>&nbsp;社会信用代码</td>
					<td>
						<input name="insuredSocialcode" class="input-text" placeholder="请输入" th:value="${bidPolicy.insuredSocialcode}" onChange="getInsuredSocialcode()">
						<br/>
						<i th:text="${errorMap['insuredSocialcode']}"></i>
					</td>
					<td><span class="span_color">*</span>&nbsp;联系电话</td>
					<td>
						<input name="insuredIdMobile" class="input-text" placeholder="请输入" th:value="${bidPolicy.insuredIdMobile}" onChange="getInsuredIdMobile()">
						<br/>
						<i th:text="${errorMap['insuredIdMobile']}"></i>
					</td>
				</tr>
				<tr>
					<td>地址</td>
					<td colspan="3">
						<input name="insuredAddress" class="input-text input-textdz" placeholder="请输入" th:value="${bidPolicy.insuredAddress}">
						<br/>
						<i th:text="${errorMap['insuredAddress']}"></i>
					</td>
				</tr>
				<tr>
					<th colspan="4">基本信息</th>
				</tr>
				<tr>
					<td><span class="span_color">*</span>&nbsp;项目名称</td>
					<td>
						<input name="certificateDepart" class="input-text" placeholder="请输入"  th:value="${bidPolicy.certificateDepart}" onChange="getCertificateDepart()">
						<br/>
						<i th:text="${errorMap['certificateDepart']}"></i>
					</td>
					<td><span class="span_color">*</span>&nbsp;<span id="xmbh">项目（文件）编号</span></td>
					<td>
						<input name="certificateNo" class="input-text" placeholder="请输入" th:value="${bidPolicy.certificateNo}" onChange="getCertificateNo()">
						<br/>
						<i th:text="${errorMap['certificateNo']}"></i>
					</td>
				</tr>
				<tr>
					<td><span class="span_color">*</span>&nbsp;资金来源</td>
					<td>
						<input name="fundSource" class="input-text" placeholder="请输入"  th:value="${bidPolicy.fundSource}" onChange="getFundSource()">
						<br/>
						<i th:text="${errorMap['fundSource']}"></i>
					</td>
					<td><span class="span_color">*</span>&nbsp;项目所在区域</td>
					<td>
						<ul class="lists">
							<li class="title">
								<input id="regionSel" class="input-text"  type="text" placeholder="项目所在区域" autocomplete="off" readonly="readonly"/>
								<input type="hidden" name="regionalism" th:value="${bidPolicy.regionalism}"/>
								&nbsp;<a id="regionBtn" onclick="showRegion(); return false;" style="background: url(/static/images/sanjiao.png) no-repeat right center;">&nbsp;&nbsp;&nbsp;</a>
							</li>
						</ul>
						<div id="regionContent" class="regionContent" style="display:none; position: absolute;">
							<ul id="regionTree" class="ztree" style="margin-top:0; width:330px;height: 300px;overflow-y: auto;"></ul>
						</div>
						<i th:text="${errorMap['regionalism']}"></i>
					</td>
					<input name="sectionNo" type="hidden" class="input-text" th:value="${bidPolicy.sectionNo}">
					<!-- <td><span class="span_color">*</span>&nbsp;标段编号</td>
					<td>
						<input name="sectionNo" type="hidden" class="input-text" placeholder="请输入" th:value="${bidPolicy.sectionNo}" onChange="getSectionNo()">
						<br/>
						<i th:text="${errorMap['sectionNo']}"></i>
					</td> -->
				</tr>
				<tr>
					<td><span class="span_color">*</span>&nbsp;开标日期</td>
					<td>
						<div class="layui-input-inline">
					        <input name="retroactiveStart" id="retroactiveStart" type="text" class="input-text" placeholder="请选择开标时间" th:value="${#dates.format(bidPolicy.retroactiveStart,'yyyy-MM-dd')}" autocomplete="off" readonly="readonly">
					    </div>
						<br/>
						<i th:text="${errorMap['retroactiveStart']}"></i>
					</td>
					<td><span class="span_color">*</span>&nbsp;投标有效期</td>
					<td>
						<input name="period" type="number" class="input-text" value="90"/>天
						<input name="retroactiveEnd" type="hidden" class="input-text"  th:value="${#dates.format(bidPolicy.retroactiveEnd,'yyyy-MM-dd')}">
						<br/>
						<i th:text="${errorMap['retroactiveEnd']}"></i>
					</td>
				</tr>
				<tr>
					<td><span class="span_color">*</span>&nbsp;项目类型</td>
					<td>
						<select name="officeType" class="select-form">
							<option value="01" th:selected="${bidPolicy.officeType=='01'}">工程</option>
							<option value="02" th:selected="${bidPolicy.officeType=='02'}">货物</option>
							<option value="03" th:selected="${bidPolicy.officeType=='03'}">服务</option>
						</select>
						<br/>
						<i th:text="${errorMap['officeType']}"></i>
					</td>
					<td><span class="span_color">*</span>&nbsp;行业代码</td>
					<td>
						<ul class="list">
							<li class="title">
								<input id="citySel" class="input-text"  type="text" placeholder="请选择行业代码"  autocomplete="off" readonly="readonly"/>
								<input type="hidden" name="businesssource" th:value="${bidPolicy.businesssource}"/>
								&nbsp;<a id="menuBtn" onclick="showMenu(); return false;" style="background: url(/static/images/sanjiao.png) no-repeat right center;">&nbsp;&nbsp;&nbsp;</a>
							</li>
						</ul>
						<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
							<ul id="tree" class="ztree" style="margin-top:0; width:330px;height: 300px;overflow-y: auto;"></ul>
						</div>
						<i th:text="${errorMap['businesssource']}"></i>
					</td>
				</tr>
				<tr>
					<td><span class="span_color">*</span>&nbsp;保证金金额</td>
					<td>
						<input name="electricPower" placeholder="请输入"  type="number" class="input-text" th:value="${bidPolicy.electricPower}" onChange="getElectricPower()">
						<br/>
						<i th:text="${errorMap['electricPower']}"></i>
					</td>
					<td><span class="span_color">*</span>&nbsp;保费金额</td>
					<td>
						<input name="sumPremium" type="text" class="input-text" th:value="${bidPolicy.sumPremium}" readonly/>
						<br/>
						<i th:text="${errorMap['sumPremium']}"></i>
					</td>
				</tr>
				<tr style="display: none">
					<td><span class="span_color">*</span>&nbsp;起保日期</td>
					<td>
						<input name="startDate" type="date" style="width:1.74rem;" class="input-text" th:value="${#dates.format(bidPolicy.startDate,'yyyy-MM-dd')}" readonly/>
						<input class="input-text" value="00" style="width:0.21rem" disabled/>&nbsp;&nbsp;时
						<br/>
						<i th:text="${errorMap['startDate']}"></i>
					</td>
					<td><span class="span_color">*</span>&nbsp;终保日期</td>
					<td>
						<input name="endDate" type="date" style="width:1.74rem;"  class="input-text" disabled/>
						<input class="input-text" value="24" style="width:0.21rem;" disabled/>&nbsp;&nbsp;时
					</td>
				</tr>
				<!-- <tr>
					<th colspan="4">影像文件</th>
				</tr> -->
				<tr id="file-row">
					<td><span class="span_color">*</span>&nbsp;上传文件</td>
					<td colspan="3">
						<div style="display:inline-block;"><img id="fileImg" style="width: 120px;height: 125px;margin-top: 17px;background: #fff;"/></div>
						<div style="float: left;margin: 26px 34px 0 0;">
							<div class="fileinput-button">上传文件
								<span id="text">未选择文件</span>
								<input type='file' id="imageFile" name='imageFile' accept='*.zip' onChange="handleConId_photo(this.files);" onMouseleave="getImageFile()"/>
								<input type="hidden" name="fileKey" th:value="${bidPolicy.fileKey}"/>
							</div>
							<span style="display: block;color: red;font-size: 0.14rem;line-height: 0.25rem;margin-top: 0.10rem;width: 347px;">请将投保单位营业执照、pdf版的招标文件打包<br/>压缩成zip格式上传,文件大小最大为20M</span><!-- <br/> -->
							<div id="schedule" style="position: relative;width: 347px;display: none;">
								<progress id="progressBar" value="0" max="100" style="width: 300px;height: 4px;background-color: #008000;position: absolute;top: 6px;"></progress>
							    <span id="percentage" style="position: absolute;top: -6px;right: 0px;"></span>
							    <span id="time" style="position:absolute;top: 12px;"></span><br/>
						    </div>
							<i th:text="${errorMap['fileKey']}"></i>
						</div>
					</td>
				</tr>
				<tr>
					<th colspan="4">发票信息</th>
				</tr>
				<tr>
					<td><span class="span_color">*</span>&nbsp;发票抬头</td>
					<td>
						<input name="invoice.invoiceTitle" class="input-text" placeholder="请输入" th:value="${session.LOGIN_USER.organ.organName}">
						<br/>
						<i th:text="${errorMap['invoice.invoiceTitle']}"></i>
					</td>
					<td><span class="span_color">*</span>&nbsp;手机号</td>
					<td>
						<input name="invoice.phone" class="input-text" placeholder="请输入" th:value="${bidPolicy.invoice==null||bidPolicy.invoice.phone==null?session.LOGIN_USER.mobile:bidPolicy.invoice.phone}" onChange="getPhone()">
						<br/>
						<i th:text="${errorMap['invoice.phone']}"></i>
					</td>
				</tr>
				<tr>
					<td>银行账号</td>
					<td>
						<input name="invoice.bankAccount" class="input-text" placeholder="请输入" th:value="${bidPolicy.invoice==null||bidPolicy.invoice.bankAccount==null?session.LOGIN_USER.organ.bankRegNo:bidPolicy.invoice.bankAccount}">
						<br/>
					</td>
					<td>纳税人识别号</td>
					<td>
						<input name="invoice.buyerTaxpayerIdentifyNumber" class="input-text" placeholder="请输入" th:value="${bidPolicy.invoice==null||bidPolicy.invoice.buyerTaxpayerIdentifyNumber==null?session.LOGIN_USER.organ.taxregNo:bidPolicy.invoice.buyerTaxpayerIdentifyNumber}">
						<br/>
					</td>
				</tr>
				<tr>
					<td>地址与联系方式</td>
					<td colspan="3">
						<input name="invoice.addressAndPhone" class="input-text" placeholder="请输入" th:value="${bidPolicy.invoice==null||bidPolicy.invoice.addressAndPhone==null?session.LOGIN_USER.organ.address:bidPolicy.invoice.addressAndPhone}" style="width:100%"/>
					</td>
				</tr>
		</table>
		<div class="margin-t-15" style="text-align: center;font-size: 0.20rem;">
			<p><input type="checkbox" name="agree" style="margin-right: 0.16rem;margin-top: -0.03rem;"/>我已同意并阅读
				<a class="color3 reg_show">《投保指南、投保须知、投保条款、收费标准》</a></p>
				<p style="margin: 0.15rem;font-size: 0.16rem;color: #989898;">注：如果投保人未能按照投保须知填写、确认投保相关信息，导致的后续损失，保险公司不承担赔偿责任。</p>
		</div>
		<div class="tiaokuan"></div>
		<div class="btn-bottom">
			<button class="quxiao" type="button" onclick="window.location.href = '/index.html'">取消</button>
			<button id="btnSub" class="submit" onclick="onCheck()">提交</button>
			<button class="btnSubClass" type="button" style="display: none;">确定</button>
		</div>
	</form>
	<div class="zhuyi_wrap">
		<div class="zhuyi_tk">
			<div class="pay_nav">
			<h2>选择保险</h2>
			<ul>     
				<li><a><div class="pay_gwc pay_gwcactivity" data-id="0"></div><img src="/static/images/Insurance1.jpg" val="PICC" data-code="1521"/></a></li>
				<li><a><div class="pay_gwc" data-id="1"></div><img src="/static/images/Insurance2.jpg" val="CPIC" data-code="1522"/></a></li>
				<li><a><div class="pay_gwc" data-id="2"></div><img src="/static/images/Insurance3.jpg" val="CIC" data-code="1523"/></a></li>
				<li><a><div class="pay_gwc" data-id="3"></div><img src="/static/images/Insurance4.jpg" val="CCIC" data-code="1524"/></a></li>
			</ul>	
			<!-- <div class="pay_close btn_open">
			</div>-->
		</div>
		<div class="btn-bottom">
			<button onclick="confirm()" style="background: #b80404;color: #fff;border-bottom: 0.03rem solid #e42323;margin-left: 0.01rem;">确定</button>
		</div>
		</div>
	</div>
	</div>
</div>
<footer></footer>
<div class="fixed"></div>
</body>
<script type="text/javascript" src="/static/js/url.js"></script>
<script>
//判断初始化要不要弹出选择投保公司
$(function(){
	console.log($("#errorMap").val()!="{}");
	if($("#errorMap").val()!="{}"||$("#message").val()!=""){
		$(".zhuyi_wrap").hide();
	}else{
		$(".zhuyi_wrap").show();
	}
    //返回的如果是人保，就显示上传文件，否则不显示
    $("#file-row").toggle($("#insuranceCompany").val()=="PICC");
    if($("#insuranceCompany").val()=="PICC"){
        $(":hidden[name='fileKey']").val($(":hidden[name='fileKey']").attr("_val"));
	}else{
        $(":hidden[name='fileKey']").val("-");
	}
})
$(".reg_show").click(function (){
    if($(".agree_wrap").css("display")=="none"){
        $(".agree_wrap").show();
    }
});
$(".btn_open").click(function() {
	if($(".zhuyi_wrap").css("display") == "block") {
		$(".zhuyi_wrap").hide();
	}
});
//默认初始化选择所属公司
$(".zhuyi_tk li").click(function(){
    var item = $(this).index();  //获取索引下标 也从0开始
	var img=$(this).find("img");
	$('.pay_gwc').removeClass("pay_gwcactivity");
	$(this).find(".pay_gwc").addClass("pay_gwcactivity");
	//选择哪家公司给赋值
	$("#insuranceCompany").val(img.attr("val"));
	//切换条款
	clause(img.attr("data-code"));
	//切换选择如果是人保，就显示上传文件，否则不显示
	$("#file-row").toggle($("#insuranceCompany").val()=="PICC");
    if($("#insuranceCompany").val()=="PICC"){
        $(":hidden[name='fileKey']").val($(":hidden[name='fileKey']").attr("_val"));
	}else{
        $(":hidden[name='fileKey']").val("-");
	}
})
$(".visualSelect").click(function(){
	$("#selectContainerQcOhiqga").show();
})
//点击选择所属公司
$("#selectContainerQcOhiqga img").click(function(){
	var item = $(this).index();  //获取索引下标 也从0开始
	$(".visualSelect").text($(this).attr("alt"));
	$(".visualSelect").attr("data-id",$(this).attr("rel"));
	var id=$(".visualSelect").attr("data-id");
	$("#insuranceCompany").val($(this).attr("val"));
	 //切换条款
	clause($(this).attr("data-code"));
	$('.watermark').remove();
	//水印替换
	var img='/static/images/Insurance'+(id*1+1)+'.jpg';
	watermark({},img);
	$("#selectContainerQcOhiqga").hide();
	//切换选择如果是人保，就显示上传文件，否则不显示
    $("#file-row").toggle($("#insuranceCompany").val()=="PICC");
    if($("#insuranceCompany").val()=="PICC"){
        $(":hidden[name='fileKey']").val($(":hidden[name='fileKey']").attr("_val"));
	}else{
        $(":hidden[name='fileKey']").val("-");
	}
})
$('body').click(function(e) {
    var target = $(e.target);
    //点击其他位置隐藏选择保险
    if(!target.is('.visualSelect')&&!target.is('.selectContainerQcOhiqga')) {
        $('#selectContainerQcOhiqga').hide();
    }
});
</script>
<script type="text/javascript">
	//加水印方法
	function watermark(settings,img) {
		//默认设置
		var defaultSettings={
			watermark_txt:"text",
			watermark_x:2,//水印起始位置x轴坐标
			watermark_y:1.4,//水印起始位置Y轴坐标0.85
			watermark_rows:2,//水印行数
			watermark_cols:2,//水印列数
			watermark_x_space:3.2,//水印x轴间隔150
			watermark_y_space:4.50,//水印y轴间隔350
			watermark_color:'#000000',//水印字体颜色
			watermark_alpha:0.2,//水印透明度
			watermark_fontsize:'18px',//水印字体大小
			watermark_font:'微软雅黑',//水印字体
			watermark_width:2.00,//水印宽度
			watermark_height:1.20,//水印长度
			watermark_angle:15//水印倾斜度数
		};
		//采用配置项替换默认值，作用类似jquery.extend
		if(arguments.length>1&&typeof arguments[0] ==="object" ){
			var src=arguments[0]||{};
			for(key in src){
				if(src[key]&&defaultSettings[key]&&src[key]===defaultSettings[key])
					continue;
				else if(src[key])
					defaultSettings[key]=src[key];
			}
		}
		var oTemp = document.createDocumentFragment();
		var table=document.getElementById('formtables');
		//获取页面最大宽度
		var page_width = Math.max(table.scrollWidth,table.clientWidth);
		//获取页面最大长度
		var page_height = Math.max(table.scrollHeight,table.clientHeight);
	
		//如果将水印列数设置为0，或水印列数设置过大，超过页面最大宽度，则重新计算水印列数和水印x轴间隔
		if (defaultSettings.watermark_cols == 0 || (parseInt(defaultSettings.watermark_x + defaultSettings.watermark_width *defaultSettings.watermark_cols + defaultSettings.watermark_x_space * (defaultSettings.watermark_cols - 1)) > page_width)) {
			defaultSettings.watermark_cols = parseInt((page_width-defaultSettings.watermark_x+defaultSettings.watermark_x_space) / (defaultSettings.watermark_width + defaultSettings.watermark_x_space));
			defaultSettings.watermark_x_space = parseInt((page_width - defaultSettings.watermark_x - defaultSettings.watermark_width * defaultSettings.watermark_cols) / (defaultSettings.watermark_cols - 1));
		}
		//如果将水印行数设置为0，或水印行数设置过大，超过页面最大长度，则重新计算水印行数和水印y轴间隔
		if (defaultSettings.watermark_rows == 0 || (parseInt(defaultSettings.watermark_y + defaultSettings.watermark_height * defaultSettings.watermark_rows + defaultSettings.watermark_y_space * (defaultSettings.watermark_rows - 1)) > page_height)) {
			defaultSettings.watermark_rows = parseInt((defaultSettings.watermark_y_space + page_height - defaultSettings.watermark_y) / (defaultSettings.watermark_height + defaultSettings.watermark_y_space));
			defaultSettings.watermark_y_space = parseInt(((page_height - defaultSettings.watermark_y) - defaultSettings.watermark_height * defaultSettings.watermark_rows) / (defaultSettings.watermark_rows - 1));
		}
		var x;
		var y;
		for (var i = 0; i < defaultSettings.watermark_rows; i++) {
			y = defaultSettings.watermark_y + (defaultSettings.watermark_y_space + defaultSettings.watermark_height) * i;
			for (var j = 0; j < defaultSettings.watermark_cols; j++) {
				x = defaultSettings.watermark_x + (defaultSettings.watermark_width + defaultSettings.watermark_x_space) * j;
				var mask_div = document.createElement('img');
				mask_div.id = 'mask_div' + i + j;
				mask_div.src=img;
				mask_div.className="watermark";
				//设置水印div倾斜显示
				mask_div.style.webkitTransform = "rotate(-" + defaultSettings.watermark_angle + "deg)";
				mask_div.style.MozTransform = "rotate(-" + defaultSettings.watermark_angle + "deg)";
				mask_div.style.msTransform = "rotate(-" + defaultSettings.watermark_angle + "deg)";
				mask_div.style.OTransform = "rotate(-" + defaultSettings.watermark_angle + "deg)";
				mask_div.style.transform = "rotate(-" + defaultSettings.watermark_angle + "deg)";
				mask_div.style.visibility = "";
				mask_div.style.position = "absolute";
				mask_div.style.left = x + 'rem';
				mask_div.style.top = y + 'rem';
				mask_div.style.overflow = "hidden";
				mask_div.style.zIndex = "-1";
				//mask_div.style.border="solid #eee 1px";
				mask_div.style.opacity = defaultSettings.watermark_alpha;
				mask_div.style.fontSize = defaultSettings.watermark_fontsize;
				mask_div.style.fontFamily = defaultSettings.watermark_font;
				mask_div.style.color = defaultSettings.watermark_color;
				mask_div.style.textAlign = "center";
				mask_div.style.width = defaultSettings.watermark_width + 'rem';
				mask_div.style.height = defaultSettings.watermark_height + 'rem';
				mask_div.style.display = "block";
				oTemp.appendChild(mask_div);
			};
		};
		table.appendChild(oTemp);
	}
	window.onload=function(){
		var id=$(".visualSelect").attr("data-id");
		//水印替换
		var img='/static/images/Insurance'+(id*1+1)+'.jpg';
		watermark("",img);
	};
	window.onresize = function () {
		$('.watermark').remove();
		var id=$(".visualSelect").attr("data-id");
		//水印替换
		var img='/static/images/Insurance'+(id*1+1)+'.jpg';
		watermark({watermark_y_space:5.50 },img)
	};
</script>
<script type="text/javascript" src="/static/js/htmlJs/bidPolicyForm.js"></script>
</html>