<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>电子保险保函</title>
		<link rel="stylesheet" href="/static/css/common.css" />
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
		<link rel="stylesheet" href="/static/css/index.css" />
        <link rel="stylesheet" href="/static/css/yanzheng.css" />
		<script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="/static/js/index.js" type="text/javascript"></script>
		<script type="text/javascript" src="/static/js/paging.js" ></script>
		<script src="/static/lib/vue.js"></script>
		<script src="/static/lib/vue-resource.min.js"></script>
		<script src="/static/js/layer/2.4/layer.js"></script>
	</head>
	<style>
    	.yz_boxptxt a.act{
    		color: #B80404;    		
    		background: url(/static/images/sjxxs.png)no-repeat center bottom;
    	}
    	.yz_boxptxt a{
    		padding: 10px;
    		font-weight: bold;
    		margin: 0 0.5rem;
    	}
    	.yz_input_box{
    		display: none;
    	}
    	.yz_input_boxatv{
    		display: block;
    	}
    </style>
<body>
<header></header>
<div class="body_mian">
	<div class="title_wrap">
		<div class="title_nav">
			<h3>保单验证</h3><img src="/static/images/xz.png" />
		</div>
		<div class="yz_wrap">
			<!--保单查询-->
			<div class="yz_box">
					<h1 class="yz_boxh1">电子保函真伪查询</h1>
					<p class="yz_boxptxt">
						<a class="act">投保编号查询</a>
						<a>pdf查询</a>
					</p>
					<div class="yz_input_box yz_input_boxatv">
						<form action="validate.html" method="GET" id="searchForm">
							<input name="policyNo" class="yz_input_search" placeholder="保单号">
							<a class="header_search_box_btn" href="#" onclick="searchValidate()">
								<img src="/static/images/search01.png" />
							</a>
						</form>
					</div>
					<div class="yz_input_box">
						<form action="verification.html" method="post" id="searchPdf" enctype="multipart/form-data">
							<input id="policyPdf" class="yz_input_search" placeholder="请上传pdf" style="margin-left: 0;">
							<a class="header_search_box_btn" href="#">
								<img src="/static/images/search01.png" />
							</a>
							<div style="float: left;margin: 26px 34px 0 0;">
								<div class="fileinput-button">
									<input type="file" id="pdfVerification" name="pdfVerification" style="position: absolute;top: 0;right: 0;margin: 0;opacity: 0;-ms-filter: 'alpha(opacity=0)';font-size: 200px;direction: ltr;cursor: pointer;width: 6rem;height: 0.5rem;overflow: hidden;">
									<a class="header_search_box_btn" href="#" onclick="searchPdf()">
										<img src="/static/images/search01.png" />
									</a>
								</div>						
							</div>
						</form>
					</div>
                    <p class="yz_boxptxt"><span>在线验签</span><span>实时反馈</span></p>
						<ul class="num_box">
							<li>
								<div class="num_box01">
									<p>{{ statistics.policyCount }}<b>次</b></p>
								</div>
								<h2>入库保函数量</h2>
							</li>
							<li>
								<div class="num_box02">
									<p>{{ statistics.searchCount }}<b>次</b></p>
								</div>
								<h2>累计查询请求</h2>
							</li>
							<li>
								<div class="num_box03">
									<p>{{ statistics.validateCount }}<b>次</b></p>
								</div>
								<h2>累计验证保函</h2>
							</li>
						</ul>
				</div>
		</div>
	</div>
</div>
<footer></footer>
<div class="fixed"></div>
</body>
<script src="/static/js/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$(".yz_boxptxt a").click(function() {
		$(this).addClass("act").siblings().removeClass("act");
		$(".yz_input_box").eq($(this).index()).addClass("yz_input_boxatv").siblings().removeClass("yz_input_boxatv");
	})
})

	function searchValidate(){
		var form = document.getElementById('searchForm');
		form.submit();
	}
	var vm =  new Vue({
		el:".body_mian",
		data:{
            statistics:{
                policyCount:0,
                searchCount:0,
                validateCount:0
			}
		},
		created:function(){
          this.$http.get("/api/policy/statistics").then(function(response){
				if(response.body.success){
					this.statistics=response.body.data;
				}
			});
		}
	});
	//上传pdf文件查询
	$("#pdfVerification").change(function(){
		var file=this.files[0];
		if(file!=null){
	        //验证文件格式和大小
	        if(file.size>1024*1024*10){
	            layer.msg("所选文件超出允许上传文件大小",{icon:0,time:2000});
	            var fileId = document.getElementById('pdfVerification');
	            fileId.value = '';
	            $("#policyPdf").val("请上传pdf");
	            return false;
	        }
	        var fileName=file.name;
	        var suffix=fileName.substring(fileName.lastIndexOf(".")+1,fileName.length);
	        var allow=["pdf"];
	        if(allow.indexOf(suffix)<0){
	            layer.msg("暂不支持该类型文件",{icon:0,time:2000});
	            var fileId = document.getElementById('pdfVerification');
	            fileId.value = '';
	            $("#policyPdf").val("请上传pdf");
	            return false;
	        }
		    searchPdf();
	    }
	})
	function searchPdf(){
		if($("input[name='pdfVerification']").val()==""){
			layer.msg("请先上传文件",{icon:0,time:2000});
		}else{
			var form = document.getElementById('searchPdf');
			form.submit();
		}
	}
	//鼠标移除把空格都去掉
	$("input[name='policyNo']").mouseout(function(){
		$(this).val(Trim($(this).val()));
	});
	//去除所有空格
	function Trim(str){ 
        return str.replace(/(^\s*)|(\s*$)/g, ""); 
	}
</script>
</html>