<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>电子保险保函</title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/common.css" />
<link rel="stylesheet" href="/static/css/index.css" />
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript" ></script>
<script src="/static/js/index.js" type="text/javascript"></script>
<script src="/static/js/mov_port.js" type="text/javascript" ></script>
<script src="/static/js/layer/2.4/layer.js"></script>
<script src="/static/js/scroll.js" type="text/javascript" ></script>
</head>
<style>
    .carousel-item img{
	  height: 2.69rem;
	 }
    #move_port {
     position: fixed;
     width: 3rem;
     min-height: 0.150rem;
     left: 0;
     top: 0;
     cursor: pointer;
     background: rgba(0, 0, 0, 0.3);
     z-index: 10000;
     padding: 0.35rem 0.20rem 0.20rem;
     border-radius: 0.10rem;
    }
    
    #move_port h3 {
     font-size: 0.16rem;
     line-height: 2em;
     color: #ffffff;
    }
    
    #move_port a {
     font-size: 0.14rem;
     float: right;
     padding-top: 0.10rem;
     color: #ffffff;
    }
 </style>
<body>
	<header></header>
	<div class="body_mian">
		<div class="lc_wrap">
			<ul class="lc_wrapul">
				<li class="lc_wrapli">
					<div class="lc_li01">注册登录</div>
				</li>
				<li class="lc_wrapli">
					<div class="lc_li02">填写信息</div>
				</li>
				<li class="lc_wrapli">
					<div class="lc_li03">提交申请</div>
				</li>
				<li class="lc_wrapli">
					<div class="lc_li04">订单支付</div>
				</li>
				<li class="lc_wrapli">
					<div class="lc_li05">完成查验</div>
				</li>
			</ul>
		</div>
		<div id="move_port" style="left: 1170px; top: 264px;">
			 <h3>关于进一步减轻企业负担 推行投标保函制度的通知</h3>
			 <a href="/static/html/newcontent.html" target="_blank">查看详情》</a>
		</div>
		<div class="index_certer">
			<div class="certer_left">
				<div class="certer_left_banner">
					<div id="demo" class="carousel slide" data-ride="carousel">
						<ul class="carousel-indicators">
							<li data-target="#demo" data-slide-to="0" class="active"></li>
							<li data-target="#demo" data-slide-to="1"></li>
							<li data-target="#demo" data-slide-to="2"></li>
						</ul>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="/static/images/banner01.png">
							</div>
							<div class="carousel-item">
								<img src="/static/images/banner02.png">
							</div>
							<div class="carousel-item">
								<img src="/static/images/banner03.png">
							</div>
						</div>
					</div>
				</div>
				<div class="certer_left_cp">
					<div class="container">
						<section class="main">
							<ul class="ch-grid">
								<li>
									<div class="ch-item ch-img-1">
										<div class="ch-info">
											<a href="/bidPolicyForm.html">立即申请</a>
										</div>
									</div>
								</li>
								<li>
									<div class="ch-item ch-img-2">
										<div class="ch-info">
											<a>立即申请</a>
										</div>
									</div>
								</li>
								<li>
									<div class="ch-item ch-img-3">
										<div class="ch-info">
											<a>立即申请</a>
										</div>
									</div>
								</li>
								<li>
									<div class="ch-item ch-img-4">
										<div class="ch-info">
											<a>立即申请</a>
										</div>
									</div>
								</li>
								<li>
									<div class="ch-item ch-img-5">
										<div class="ch-info">
											<a>立即申请</a>
										</div>
									</div>
								</li>
							</ul>
						</section>
					</div>
				</div>
				<div class="certer_left_con">
					<div class="certer_left_conh3">
						<h3>
							<span class="certer_left_con_a certer_left_con_now" data-code=1 >政策法规</span> 
							<span class="certer_left_con_a" data-code=2 >新闻热点</span>
						</h3>
					</div>
					<div class="more_news">
						<a href="/static/html/policy.html">更多&nbsp;»</a>
					</div>
					<hr class="certer_left_con_nowhr" />
					<div class="certer_left_news certer_left_newsnow">
						<div class="certer_news_left">
							<div class="certer_news_leftul">
								<div class="certer_news_leftli">
									<div class="news_leftimg">
										<img src="/static/images/xw02.png" />
									</div>
									<div class="img-bottom">
										<p>国家发展改革委关于依法依规加强PPP项目投资和建设管理的通知</p>
									</div>
									<div class="new_w">
										<p class="new_time">时间：2019-06-21</p>
										<p class="new_from">来源：国家发展改革委</p>
										<div class="new_wre">
											<p>为了贯彻落实党中央、国务院关于基础设施补短板、防范化解地方政府隐性债务风险的决策部署，加强PPP项目投资和建设管理、提高PPP项目投资决策科学性，按照近日国务院颁布实施的《政府投资条例》（国务院令第712号），</p>
										</div>
									</div>
									<div class="new_more">了解更多</div>
								</div>
								<div class="certer_news_leftli">
									<div class="news_leftimg">
										<img src="/static/images/xw03.png" />
									</div>
									<div class="img-bottom">
										<p>公开征求对《网络安全漏洞管理规定（征求意见稿）》的意见</p>
									</div>
									<div class="new_w">
										<p class="new_time">时间：2019-06-18</p>
										<p class="new_from">来源：工业和信息化部</p>
										<div class="new_wre">
											<p>为贯彻落实《中华人民共和国网络安全法》，加强网络安全漏洞管理，工业和信息化部会同有关部门起草了《网络安全漏洞管理规定（征求意见稿）》（见附件），拟以规范性文件形式印发，现面向社会公开征求意见。如有意见或建议，请于2019年7月18日前反馈。</p>
										</div>
									</div>
									<div class="new_more">了解更多</div>
								</div>
								<div class="certer_news_leftli">
									<div class="news_leftimg">
										<img src="/static/images/xw01.png" />
									</div>
									<div class="img-bottom">
										<p>国务院办公厅转发国家发展改革委关于深化公共资源交易平台整合共享指导意见的通知</p>
									</div>
									<div class="new_w">
										<p class="new_time">时间：2019-05-19</p>
										<p class="new_from">来源：国家发展改革委</p>
										<div class="new_wre">
											<p>近年来，各地区、各部门认真贯彻落实党中央、国务院决策部署，按照《国务院办公厅关于印发整合建立统一的公共资源交易平台工作方案的通知》（国办发〔2015〕63号）要求，积极推动整合分散设立的工程建设项目招标投标、土地使用权和矿业权出让、国有产权交易、政府采购等交易平台，全国范围内规则统一</p>
										</div>
									</div>
									<div class="new_more">了解更多</div>
								</div>

							</div>
						</div>
						<div class="certer_news_right">
							<ul class="certer_news_rightul">
								<li class="certer_news_rightli certer_news_rightlinow">
									<div class="certer_news_rightimg">
										<img src="/static/images/xw02.png" />
									</div>
									<div class="certer_news_rightw certer_news_rightlinows">
										<h4>国家发展改革委关于依法依规加强PPP项目投资和建设管理的通知</h4>
										<p class="neww_time">时间：2019-06-21</p>
										<p class="neww_from">来源：工业和信息化部</p>
										<div class="neww_wre">
											<p>为贯彻落实《中华人民共和国网络安全法》，加强网络安全漏洞管理，工业和信息化部会同有关部门起草了《网络安全漏洞管理规定（征求意见稿）》（见附件），拟以规范性文件形式印发，现面向社会公开征求意见。如有意见或建议，请于2019年7月18日前反馈。</p>
										</div>
									</div>
								</li>
								<li class="certer_news_rightli">
									<div class="certer_news_rightimg">
										<img src="/static/images/xw03.png" />
									</div>
									<div class="certer_news_rightw">
										<h4>公开征求对《网络安全漏洞管理规定（征求意见稿）》的意见</h4>
										<p class="neww_time">时间：2019-06-18</p>
										<p class="neww_from">来源：工业和信息化部</p>
										<div class="neww_wre">
											<p>为贯彻落实《中华人民共和国网络安全法》，加强网络安全漏洞管理，工业和信息化部会同有关部门起草了《网络安全漏洞管理规定（征求意见稿）》（见附件），拟以规范性文件形式印发，现面向社会公开征求意见。如有意见或建议，请于2019年7月18日前反馈。</p>
										</div>
									</div>
								</li>
								<li class="certer_news_rightli">
									<div class="certer_news_rightimg">
										<img src="/static/images/xw01.png" />
									</div>
									<div class="certer_news_rightw">
										<h4>国务院办公厅转发国家发展改革委关于深化公共资源交易平台整合共享指导意见的通知</h4>
										<p class="neww_time">时间：2019-05-19</p>
										<p class="neww_from">来源：国家发展改革委</p>
										<div class="neww_wre">
											<p>近年来，各地区、各部门认真贯彻落实党中央、国务院决策部署，按照《国务院办公厅关于印发整合建立统一的公共资源交易平台工作方案的通知》（国办发〔2015〕63号）要求，积极推动整合分散设立的工程建设项目招标投标、土地使用权和矿业权出让、国有产权交易、政府采购等交易平台，全国范围内规则统一</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="certer_left_news">
						<div class="certer_news_left">
							<div class="certer_news_leftul">
								<div class="certer_news_leftli">
									<div class="news_leftimg">
										<img src="/static/images/xw07.png" />
									</div>
									<div class="img-bottom">
										<p>垫资施工、层层转包、工资拖欠，青岛地铁项目显行业乱象</p>
									</div>
									<div class="new_w">
										<p class="new_time">2019-07-01</p>
										<p class="new_from">来源：行业直通车</p>
										<div class="new_wre">
											<p>青岛地铁1号线，是目前青岛唯一跨海连接黄岛区与中心城区、沿线最长的轨道交通线路，全长59.941km。事件所涉工程标段为城阳区春阳路至东郭庄开闭所外电源线路施工及安装工程。</p>
										</div>
									</div>
									<div class="new_more">了解更多</div>
								</div>
								<div class="certer_news_leftli">
									<div class="news_leftimg">
										<img src="/static/images/xw03.png" />
									</div>
									<div class="img-bottom">
										<p>国务院出手！取消投标报名，电子保函带动监管升级</p>
									</div>
									<div class="new_w">
										<p class="new_time">时间：2019-06-25</p>
										<p class="new_from">来源：行业直通车</p>
										<div class="new_wre">
											<p>按照惯例，进入公共资源交易中心交易的工程建设招投标、政府采购、医疗设备采购等项目，交易流程中几乎都存在“投标报名”环节。虽然《招标投标法》以及《招标投标法实施条例均未要求投标报名，但这一前置环节却在没有法律依据的情况下，逐渐成为习惯操作。</p>
										</div>
									</div>
									<div class="new_more">了解更多</div>
								</div>
								<div class="certer_news_leftli">
									<div class="news_leftimg">
										<img src="/static/images/xw10.png" />
									</div>
									<div class="img-bottom">
										<p>银行保函创新与颠覆：未来的工程担保市场是谁的天下？</p>
									</div>
									<div class="new_w">
										<p class="new_time">2019-05-22</p>
										<p class="new_from">来源：行业直通车</p>
										<div class="new_wre">
											<p>银行保函，是银行应开函申请人的申请，向受益人开具的有担保性质的书面承诺文件。其以银行信用为基础，担保在申请人未履行基础交易合同项下的责任或义务时，银行将代其履行一定金额、一定时限范围内的某种支付或经济赔</p>
										</div>
									</div>
									<div class="new_more">了解更多</div>
								</div>

							</div>
						</div>
						<div class="certer_news_right">
							<ul class="certer_news_rightul">
								<li class="certer_news_rightli certer_news_rightlinow">
									<div class="certer_news_rightimg">
										<img src="/static/images/xw07.png" />
									</div>
									<div class="certer_news_rightw certer_news_rightlinows">
										<h4>垫资施工、层层转包、工资拖欠，青岛地铁项目显行业乱象</h4>
										<p class="neww_time">时间：2019-07-01</p>
										<p class="neww_from">来源：行业直通车</p>
										<div class="neww_wre">
											<p>青岛地铁1号线，是目前青岛唯一跨海连接黄岛区与中心城区、沿线最长的轨道交通线路，全长59.941km。事件所涉工程标段为城阳区春阳路至东郭庄开闭所外电源线路施工及安装工程。</p>
										</div>
									</div>
								</li>
								<li class="certer_news_rightli">
									<div class="certer_news_rightimg">
										<img src="/static/images/xw03.png" />
									</div>
									<div class="certer_news_rightw">
										<h4>国务院出手！取消投标报名，电子保函带动监管升级</h4>
										<p class="neww_time">时间：2019-06-25</p>
										<p class="neww_from">来源：行业直通车</p>
										<div class="neww_wre">
											<p>按照惯例，进入公共资源交易中心交易的工程建设招投标、政府采购、医疗设备采购等项目，交易流程中几乎都存在“投标报名”环节。虽然《招标投标法》以及《招标投标法实施条例均未要求投标报名，但这一前置环节却在没有法律依据的情况下，逐渐成为习惯操作。</p>
										</div>
									</div>
								</li>
								<li class="certer_news_rightli">
									<div class="certer_news_rightimg">
										<img src="/static/images/xw10.png" />
									</div>
									<div class="certer_news_rightw">
										<h4>银行保函创新与颠覆：未来的工程担保市场是谁的天下？</h4>
										<p class="neww_time">时间：2019-05-22</p>
										<p class="neww_from">来源：行业直通车</p>
										<div class="neww_wre">
											<p>银行保函，是银行应开函申请人的申请，向受益人开具的有担保性质的书面承诺文件。其以银行信用为基础，担保在申请人未履行基础交易合同项下的责任或义务时，银行将代其履行一定金额、一定时限范围内的某种支付或经济赔</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="certer_right">
				<div class="index_group">
						<a href="/static/html/content1.html">投标电子保函推进小组<span>详情&nbsp;»</span></a><br />
						<!-- <a href="/static/html/content2.html">投标电子保函推进会<span>详情&nbsp;»</span></a> -->
					</div>
				<div class="index_login">
					<div th:if="${session.LOGIN_USER==null}">
						<div class="index_nologins">
							<div class="index_nologinsimgs">
								<div class="index_nologinsimg">
									<img src="/static/images/touxiang.png" />
								</div>
							</div>
							<p>登录查看更多</p>
							<h2>
								请先<a href="/regist.html">注册</a>
							</h2>
						</div>
						<div class="index_nologinbuts">
							<a href="/login.html"><button class="index_nologinbut">登录</button></a>
						</div>
						<!-- <div class="index_loginthis">
							<p>其他登录</p>
							<p>
								<span><a href="#"><img src="/static/images/qq01.png" /></a></span> <span><a
									href="#"><img src="/static/images/weixin01.png" /></a></span> <span><a
									href="#"><img src="/static/images/sina01.png" /></a></span>
							</p>
						</div> -->
					</div>
					<div th:if="${session.LOGIN_USER!=null}">
						<div class="index_logins">
							<div class="index_loginsimgs">
								<div class="index_loginsimg">
									<img src="/static/images/yilogin.png" />
								</div>
							</div>
							<p>
								<a th:text="${session.LOGIN_USER.organ.organName}"></a>
							</p>
							<p>
								<a href="/order.html">我的订单</a>
							</p>
						</div>
						<div class="index_loginbuts">
							<a href="/logout.html"><button class="index_loginbut">退出</button></a>
						</div>
					</div>
				</div>
				<div class="index_company">
					<h3>承保公司</h3>
					<hr class="certer_left_con_nowhr" />
					<ul class="index_company_img">
						<li class="index_company_imgli"><a
							href="http://www.epicc.com.cn/shop/" target="_black"><img
								src="/static/images/Insurance1.jpg" /></a></li>
						<li class="index_company_imgli"><a
							href="http://www.cpic.com.cn/" target="_black"><img
								src="/static/images/Insurance2.jpg" /></a></li>
						<li class="index_company_imgli"><a href="http://www.cic.cn/"
							target="_black"><img src="/static/images/Insurance3.jpg" /></a></li>
						<li class="index_company_imgli"><a
							href="http://www.ccic-net.com.cn/" target="_black"><img
								src="/static/images/Insurance4.jpg" /></a></li>

					</ul>
				</div>
				<div class="index_link">
					<h3>友情链接</h3>
					<hr class="certer_left_con_nowhr" />
					<ul class="index_link_img">
						<li class="index_link_imgli"><a
							href="http://www.epicc.com.cn/shop/" target="_black">中国人民保险</a></li>
						<li class="index_link_imgli"><a
							href="http://www.cpic.com.cn/" target="_black">太平洋保险</a></li>
						<li class="index_link_imgli"><a
							href="http://www.ccic-net.com.cn/" target="_black">中国大地保险</a></li>
						<li class="index_link_imgli"><a href="http://www.cic.cn/"
							target="_black">中华保险</a></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="notice_wrap">
			<div class="swiper_wrap">
				<div class="scroll">
					<ul id="dockingPlatform">
						<li><img src="/static/images/logo01.png" /></li>
						<li><img src="/static/images/logo02.png" /></li>
						<li><img src="/static/images/logo03.png" /></li>
						<li><img src="/static/images/logo04.png" /></li>
						<li><img src="/static/images/logo05.png" /></li>
						<li><img src="/static/images/logo06.png" /></li>
						<li><img src="/static/images/logo07.png" /></li>
						<!-- <li><img src="images/logo08.png" /></li>
						<li><img src="images/logo09.png" /></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	<footer></footer>
	<div class="fixed"></div>
</body>
<script>
	showSlide();
	function showSlide() {
		showInterval = setInterval(function() {
			$('.certer_news_leftul').animate({
				'marginLeft' : '-3rem'
			}, 3000, function() {
				$(this).find('.certer_news_leftli').eq(0).appendTo($(this));
				$(this).css({
					'marginLeft' : '-0rem'
				})
			})

		}, 5000)

	}
</script>
<script>
	$('.new_wre p').each(function() {
		//设置显示获取字符串的字数  这个根绝要求 看需要大概显示几行
		var maxwidth = 40;
		if ($(this).text().length > maxwidth) {
			//截取字符串
			$(this).text($(this).text().substring(0, maxwidth));
			//多余的用省略号显示
			$(this).html($(this).html() + '...');
		}
	});
</script>
<script>
   move_obj("#move_port");
</script>
<script type="text/javascript" src="/static/js/url.js"></script>
<script type="text/javascript">
	$(".certer_left_con_a").click(
		function() {
			$(this).addClass("certer_left_con_now").siblings().removeClass(
					"certer_left_con_now");
			$(".certer_left_news").eq($(this).index()).addClass(
					"certer_left_newsnow").siblings().removeClass(
					"certer_left_newsnow");
			relatedNews();
		})
	$(function(){
		$('.scroll').scroll({
			speed: 60, //数值越大，速度越快
			direction: 'horizantal'
		});
		relatedNews();
		//获取对接平台
		dockingPlatform();
	})
	function relatedNews(){
		var param={};
	    param.startIndex=1;
	    param.pageSize=3;
	    param.type=$('.certer_left_con_now').attr('data-code');
	    $.ajax({
	        type:"get",
	        url:publicUrl+"/home/loadBusiness",
	        data: param,
	        dataType:"json",
	        success:function(dataObj){
	            if(dataObj!=null){
	                var data=dataObj.data;
	                $('.certer_news_leftul').html('');
	                var tableData=data.pageData;
	                var num=tableData.length;
	                var str='';
	                if(num>0){
	                    $.each(tableData,function(index,val){
	                    	str+='<div class="certer_news_leftli" onclick="newDetails('+val.id+')" style="cursor:pointer">';
	                    	str+='	<div class="news_leftimg">';
	                    	str+='		<img src="'+publicUrl+val.cover+'" />';
	                    	str+='	</div>';
	                    	str+='	<div class="img-bottom">';
	                    	str+='		<p>'+val.title+'</p>';
	                    	str+='	</div>';
	                    	str+='	<div class="new_w">';
	                    	str+='		<p class="new_time">时间：'+val.addTime+'</p>';
	                    	str+='		<p class="new_from">来源：'+val.source+'</p>';
	                    	str+='		<div class="new_wre">';
	                    	str+='			<p>'+val.content+'</p>';
	                    	str+='		</div>';
	                    	str+='	</div>';
	                    	str+='	<div class="new_more" onclick="newDetails('+val.id+')">了解更多</div>';
	                        str+='</div>';
	                    })
	                }else{
	               		str+='<div style="line-height: 250px;font-size: 16px;color: #787675">';
	                   	str+='暂无相关新闻';
	                   	str+='</div>';
	                }
	                $('.certer_news_leftul').append(str);
	                
	                $(".certer_news_rightul").html('');
	                var strs='';
	                if(num>0){
	                    $.each(tableData,function(index,val){
	                    	strs+='<li class="certer_news_rightli certer_news_rightlinow" onclick="newDetails('+val.id+')">';
	                    	strs+='	<div class="certer_news_rightimg">';
	                    	strs+='		<img src="'+publicUrl+val.cover+'" />';
	                    	strs+='	</div>';
	                    	strs+='	<div class="certer_news_rightw certer_news_rightlinows">';
	                    	strs+='		<h4 title="'+val.title+'">'+val.title+'</h4>';
	                    	strs+='		<p class="neww_time">时间：'+val.addTime+'</p><br/>';
	                    	strs+='		<p class="neww_from">来源：'+val.source+'</p>';
	                    	/* strs+='		<div class="neww_wre">';
	                    	strs+='			<p>'+val.content+'</p>';
	                    	strs+='		</div>'; */
	                    	strs+='	</div>';
	                    	strs+='</li>';
	                    })
	                }else{
	                	strs+='<div style="line-height: 250px;font-size: 16px;color: #787675">';
	                	strs+='暂无相关新闻';
	                	strs+='</div>';
	                }
	                $('.certer_news_rightul').append(strs);
	            }
	        }
	    })
	}
	function  newDetails(newId){
		window.location.href="/static/html/newsDetails.html?id="+newId+"&type="+$('.certer_left_con_now').attr('data-code');
	}
	//动态获取对接平台
	function dockingPlatform(){
		 $.ajax({
	        type:"get",
	        url:manageUrl+"/homeController/selectDockList",
	        data: {"status":1},
	        dataType:"json",
	        success:function(dataObj){
	        	if(dataObj.code=200){
	        		$("#dockingPlatform").html("");
	        		var tableData=dataObj.data;
	                var num=tableData.length;
	                var str='';
	                if(num>0){
	                    $.each(tableData,function(index,val){
	                    	str+='<li><img title="'+val.platform_name+'" src="'+manageUrl+''+val.platform_logo+'" onclick="platformUrl(\''+val.platform_url+'\')"/></li>';
	                    })
	                }
	                $('#dockingPlatform').append(str);
	        	}
	        }
		})
	}
	function platformUrl(item){
		window.open(item);
	}
</script>
</html>