<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<title>电子保函服务平台</title>
		<link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
		<link th:href="@{css/style.css}" rel="stylesheet" />
		<script th:src="@{js/jquery.min.js}"></script>
		<link  th:href="@{css/index.css}" rel="stylesheet" type="text/css">
		<link  th:href="@{css/animate.min.css}" rel="stylesheet" type="text/css">
		<script th:src="@{js/jquery-1.8.3.min.js}"></script>
		<script th:src="@{js/header.js}"></script>
	</head>

	<body>
<!-- <header></header> -->
<!--头部-->
		<div class="header_wrap">
    <div class="header">
    	<div class="header_top">
        <!--logo-->
        <div class="logo_wrap">
            <img src="images/logo.png">
        </div>
        <!--二级导航-->
        <div class="nava_li">  <div class="nav_l">电子保函服务平台</div></div>
        <ul class="nav_wrap">
            <li class="nav_piece  now">
                <h1 ><a href="#">首页</a></h1>
            </li>
            <li class="nav_piece">
                <h1><a href="#">理赔服务</a></h1>
            </li>
            <li class="nav_piece">
                <h1><a href="#">政策法规</a></h1>
            </li>
             
            <li class="nav_piece">
                <h1><a href="/home.html">保单验证</a></h1>
            </li>
            <li class="nav_piece">
                <h1><a href="/order.html">我的订单</a></h1>
            </li>
            <li class="nav_piece">
                 <h1><a href="#">关于我们</a></h1>

            </li>

        </ul>
      <div class="login_wrap" th:if="${session.LOGIN_USER==null}">
			<a href="/login.html">登录</a>|<a href="/login.html#regist">注册</a>
		</div>
		<div class="login_wrap" th:if="${session.LOGIN_USER!=null}">
			<a th:text="${session.LOGIN_USER.organ.organName}"></a>
			<a href="/logout.html"><i class="fa fa-sign-out" aria-hidden="true"></i>退出</a>
		</div>
      </div>
    </div>
</div>
<div class="banner">
	<div class="banner_wrap">
		<div class="more_wrap">
			<div class="more">
			<a href="#">了解更多</a></div>
		</div>
	</div>
</div>
<div class="process">
	<div  class="process_wrap">
		<div class="process_tit">
			<img src="images/three_points01.png" />
			<p>晋e惠电子保函服务平台流程</p>
			<img src="images/three_points01.png" />
		</div>
		<ul class="process_liu">
		    <li class="process_liu_ren">
		    <a href="/login.html">
		    <img src="images/55_16.png" />
		    <p>注册登录</p></a>
		    </li> 
		    <li class="process_liu_t">
		    <img src="images/11_03.png" />
		    </li>
		    <li class="process_liu_ren">
		    	<a href="#">
		    <img src="images/44_16.png" />
		    <p>填写信息</p></a>
		    </li>
		    <li class="process_liu_t">
		    <img src="images/11_03.png" />
		    </li>
		    <li class="process_liu_ren">
		    	<a href="#">
		    <img src="images/tu_05.png" />
		    <p>提交申请</p></a>
		    </li>
		     <li class="process_liu_t">
		    <img src="images/11_03.png" />
		    </li>
		    <li class="process_liu_ren">
		    	<a href="#">
		    <img src="images/33_08.png" />
		    <p>缴纳付款</p></a>
		    </li >
		     <li class="process_liu_t">
		    <img src="images/11_03.png" />
		    </li>
		    <li class="process_liu_ren">
		    	<a href="#">
		    <img src="images/66_20.png" />
		    <p>完成查验</p></a>
		    </li>
		</ul>
	</div>
</div>
<div class="service">
	<div class="service_wrap">
	<div class="service_tit">
			<img src="images/three_points01.png" />
			<p>晋e惠电子保函服务平台</p>
			<img src="images/three_points01.png" />
		</div>
	<div class="service_img">
		<div class="service_img_one">
			<a href="#">
			<div class="service_img_01" ></div></a>
			<a href="#"><div class="service_img_02" style="float: right;" ></div></a>
		</div>
		<div class="service_img_tow">
			<a href="clause.html"><div class="service_img_03"  ></div></a>
			<a href="#"><div class="service_img_04"  style="margin-left: 222px;" ></div></a>
			<a href="#"><div  class="service_img_05" style="float: right;" ></div></a>
		</div>
	</div>
	</div>
</div>
<div class="new">
	<div class="new_wrap">
		<div class="new_tit">
			<img src="images/three_points01.png" />
			<p>新闻热点</p>
			<img src="images/three_points01.png" />
		</div>

		<div class="new_new">
			<img src="images/21.png" />
			<p>今日关注</p>
		</div>
		<div class="about-grids">
			<div class="new_list_wrap">
				<div class="new_list">
					<div class="about-grid">
						<img src="images/2.jpg" alt=" " class="img-responsive">
						<div class="img-bottom">
							<p>西多方共商电子化保函,为民企减负出新招</p>
						</div>
						 <div class="new_w">
					<p class="new_time">2018-07-31</p>
					<p  class="new_wre">电子保函是担保人以电子化文档为介质通过计算机网络向受益人开立的具有法律效力的担保凭证。</p>
					</div>
					</div>
					<div class="about-grid">
						<img src="images/3.jpg" alt=" " class="img-responsive">
						<div class="img-bottom">
							<p>投标保函</p>
						</div>
						 <div class="new_w">
					<p class="new_time">2018-07-31</p>
					<p  class="new_wre">电子保函是担保人以电子化文档为介质通过计算机网络向受益人开立的具有法律效力的担保凭证。</p>
					</div>
					</div>
					<div class="about-grid">
						<img src="images/4.jpg" alt=" " class="img-responsive">
						<div class="img-bottom">
							<p>工程保函</p>
						</div>
						 <div class="new_w">
					<p class="new_time">2018-07-31</p>
					<p  class="new_wre">电子保函是担保人以电子化文档为介质通过计算机网络向受益人开立的具有法律效力的担保凭证。</p>
					</div>
					</div>
	
					
				</div>
			</div>

		</div>

	</div>
</div>
<div class="partner">
	<div class="partner_wrap">
	<div class="partner_tit">
			<img src="images/three_points01.png" />
			<p>合作伙伴</p>
			<img src="images/three_points01.png" />
	</div>
		<div class="partner_list">
			<img src="images/Insurance1@2x.jpg"/>
			<img src="images/Insurance3@2x.jpg"/>
			<img src="images/Insurance5@2x.jpg"/>
			<img src="images/Insurance6@2x.jpg"/>
		</div>
</div>
</div>
<!-- <footer></footer> -->
<!--尾部  -->
	<div class="foot">
		<div class="ftBar">
			<div class="fb-left"> ------------------------------------------------------------------------------------------------------------------------------------<br /> Copyright © 2017 - 2018 cehuashen. All Rights Reserved.<br/> 山西伟鑫科创信息技术服务有限公司<br />电话：0351-7027757<br />邮箱：wxjinrong@sina.com<br />
				<img src="images/888.png" style=" width:16px; margin-right:6px;" />晋ICP备19002913号</div>
			
		</div>
	</div>
</body>
</html>
