<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>电子保函服务平台</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/login.css" />
		<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="js/index.js" type="text/javascript"></script>

	</head>
<body>
	<header></header>
<div class="login_wrap">
	<div class="logins_tab">
		<form action="/doLogin.html" method="POST" id="loginForm">
			<div class="login_box">
				<h3>账号登录</h3>
				<div class="inputbox">
					<p>用户名：
						<input type="text" value="" name="username"  placeholder="请输入用户名/手机号"></p>
				</div>
				<div class="inputbox">
					<p>密&nbsp;&nbsp;&nbsp;码：
						<input type="password" value="" name="password" placeholder="请输入登录密码"></p>
				</div>
	
				<div class="login_it">
					<a href="/regist.html">立即注册</a>
					<a href="#">忘记密码？</a>
				</div>
	             	<div class="container">
	                <div class="captchas" id="captchas">
					<div id="captcha"></div></div>
				</div>
				<div class="login_but">
	
					<input type="button" class="but" value="登录" name="">
					<div th:if="${message!=null}" class="message">
						<i th:text="${message}"></i>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="fb-footer">技术支持：山西伟鑫科创信息技术服务有限公司
		<img src="/images/gw.png" style=" width:16px; margin-right:6px;" />晋ICP备19002913号</div>
	</div>
</body>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script type="text/javascript" src="js/verify.js" ></script>
<script>
  jigsaw.init({
    el: document.getElementById('captcha'),
    onSuccess: function() {
    	$("#captchas").css("display","none");
    	var form = document.getElementById('loginForm');
    	form.submit();
    },
  })

  $(".but").click(function (){
    if($('.container').css("display")=="none"){
        $('.container').show();
    }
});
</script>
</html>