<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>电子保函服务平台</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/common.css" />
		<link rel="stylesheet" href="/static/css/index.css" />
        <link rel="stylesheet" href="/static/css/form.css" />
		<link rel="stylesheet" href="/static/css/paging.css" />
		<link rel="stylesheet" href="/static/css/zhuce.css" />
		<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
		<script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="/static/js/index.js" type="text/javascript"></script>
		<script type="text/javascript" src="/static/js/paging.js" ></script>
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			td{
				word-break: break-all;
			}
		</style>
	</head>
<body>
<header></header>
<div class="body_mian">
	<div class="title_wrap">
		<div class="title_nav">
			<h3>我的订单</h3><img src="/static/images/xz.png" />
		</div>
		<table class="ddtables" cellspacing="0" cellpadding="0" >
			<thead>
				<tr>
					<th>序号</th>
					<th>订单编号</th>
	                <th>项目名称</th>
	                <th>交易平台</th>
	                <th>保险金额(元)</th>
	                <th>申请时间</th>
	                <th>是否支付</th>
	                <th>订单详情</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bidPolicy,bidPolicyStat:${datagrid.rows}">
					<!-- <td th:text="${(bidPolicy.policyNo!=null?bidPolicy.policyNo:bidPolicy.proposalNo)+'#'+bidPolicy.salt }"></td> -->
					<td th:text="${(bidPolicyStat.index+1)+(datagrid.page)*datagrid.pageSize}"></td>
					<td th:text="${bidPolicy.orderId}"></td>
					<td th:text="${bidPolicy.certificateDepart}"></td>
					<td th:text="${bidPolicy.platformName}"></td>
					<td th:text="${bidPolicy.sumAmount}"></td>
					
					<td th:text="${#objects.nullSafe(#dates.format(bidPolicy.saveTimes,'yyyy-MM-dd HH:mm:ss'),'-')}"></td>
					<td>
						<a th:if="${bidPolicy.payResult==''}" target="_blank" th:href="${bidPolicy.payUrl}">去支付</a>
						<span th:if="${bidPolicy.payResult=='00'}" style="background-color: transparent;color: #000000;">已支付</span>
					</td>
					<td>
						<a th:href="${'/orderDetails/'+bidPolicy.orderId}" style="background-color: #1060a5;">查看</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="paging_policy paging_policyatv">
			<div>
				<ul class="pagination" th:if=" ${datagrid.total/datagrid.pageSize} gt '0'">
					<li>
						<a th:href="${'/order.html?page=0'+'&pageSize='+datagrid.pageSize}">&laquo;</a>
					</li>
					<li th:each="i:${#numbers.sequence(datagrid.page-5,datagrid.page)}" th:class="${datagrid.page==i?'active':''}" th:if="${i>=0}">
						<a th:href="${'/order.html?page='+i+'&pageSize='+datagrid.pageSize}" th:text="${i+1}"></a>
					</li>
					<li th:each="i:${#numbers.sequence(datagrid.page+1,datagrid.page+5)}" th:class="${datagrid.page==i?'active':''}" th:if="${i<=(datagrid.total%datagrid.pageSize==0?(datagrid.total/datagrid.pageSize-1):(datagrid.total/datagrid.pageSize))}">
						<a th:href="${'/order.html?page='+i+'&pageSize='+datagrid.pageSize}" th:text="${i+1}"></a>
					</li>
					<li>
						<a th:href="${'/order.html?page='+(datagrid.total%datagrid.pageSize==0?datagrid.total/datagrid.pageSize-1:datagrid.total/datagrid.pageSize)+'&pageSize='+datagrid.pageSize}">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<footer></footer>
<div class="fixed"></div>
<script type="text/javascript">
	$(".btn_open").click(function (){
	    if($(".agree_wrap").css("display")=="block"){
	        $(".agree_wrap").hide();
	    }
	});
	$(function(){
		$('tbody tr').mouseover(function(e) {
	        $(this).siblings().stop().fadeTo(50,0.5);
	    });
		$('tbody tr').mouseout(function(e) {
	        $(this).siblings().stop().fadeTo(50,1);
	    });
	})
</script>
</body>
</html>