<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>电子保险保函</title>
	<link rel="stylesheet" href="/static/css/common.css" />
	<link rel="stylesheet" href="/static/css/index.css" />
	<link rel="stylesheet" href="/static/css/yanzheng.css" />
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/static/js/index.js" type="text/javascript"></script>
	<script type="text/javascript" src="/static/js/paging.js" ></script>
	<script src="/static/js/layer/2.4/layer.js"></script>
</head>
<style>
	.hidden-box {
		background-color: rgba(255, 255, 255,0.8);
		transform: scale(1);
		border-radius: 20% 0 20%;
		width: 500px;
		text-align: center;
		-webkit-box-shadow: 0px 4px 8px #333333;
		box-shadow: 0px 4px 8px #333333;
		padding: 30px;
		
	}
	.hidden-box p {
		color: #1B1E21;
		text-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
		font-size: 0.14rem;
		text-align: left;
	}	
	.text-desc {
        min-height: 2.5rem;
		line-height: 1.8em;
		padding-left: 47%;
	}	
	.text-desc h5,
	.text-desc h6 {
		font-size: 0.16rem;
		text-align: left;
	}
	.yz_boxptxt a.act{
   		color: #B80404;    		
   		background: url(/static/images/sjxxs.png)no-repeat center bottom;
   	}
   	.yz_boxptxt a{
   		padding: 10px;
   		font-weight: bold;
   		margin: 0 0.5rem;
   	}
   	.yz_input_box{
   		display: none;
   	}
   	.yz_input_boxatv{
   		display: block;
   	}
</style>
<body>
<header></header>
<div class="body_mian">
	<div class="title_wrap">
		<div class="title_nav">
			<h3>保单验证</h3>
			<img src="/static/images/xz.png" />
		</div>
		<div class="noyz">
			<p class="yz_boxptxt">
				<a>投保编号查询</a>
				<a>pdf查询</a>
			</p>
			<div th:if="${base64Data==null}" class="yz_input_box">
				<form action="validate.html" method="GET" id="searchForm">
					<input name="policyNo" class="yz_input_search" placeholder="保单号">
					<a class="header_search_box_btn" href="#" onclick="searchValidate()">
						<img src="/static/images/search01.png" />
					</a>
				</form>
			</div>
			<div class="yz_input_box">
				<form action="verification.html" method="post" id="searchPdf" enctype="multipart/form-data">
					<input id="policyPdf" class="yz_input_search" placeholder="请上传pdf" style="margin-left: 0;">
					<a class="header_search_box_btn" href="#">
						<img src="/static/images/search01.png" />
					</a>
					<div style="float: left;margin: 26px 34px 0 0;">
						<div class="fileinput-button">
							<input type="file" id="pdfVerification" name="pdfVerification" style="position: absolute;top: 0;right: 0;margin: 0;opacity: 0;-ms-filter: 'alpha(opacity=0)';font-size: 200px;direction: ltr;cursor: pointer;width: 6rem;height: 0.5rem;overflow: hidden;">
							<a class="header_search_box_btn" href="#" onclick="searchPdf()">
								<img src="/static/images/search01.png" />
							</a>
							<input type="hidden" th:value="${fileName}" id="fileName">
						</div>						
					</div>
				</form>
			</div>
			<div class="noyzerr">
				<img id="previewUrl" th:if="${bidPolicy!=null}" th:src="${bidPolicy.previewUrl}"/>
				<h1 th:if="${base64Data==null}" th:text="${message}"></h1>
				<div th:if="${bidPolicy!=null}" style="display: none">
					<input type="hidden" th:value="${bidPolicy.insuredName}" id="insuredName"><!--被保险人单位名称  -->
					<input type="hidden" th:value="${bidPolicy.certificateDepart}" id="certificateDepart"><!--投标项目名称-->
					<input type="hidden" th:value="${#dates.format(bidPolicy.startDate,'yyyy-MM-dd')}" id="startDate"><!--投保时间  -->
					<input type="hidden" th:value="${bidPolicy.electricPower}" id="electricPower"><!--投保金额  -->
				</div>
			</div>
		</div>
	</div>
</div>
<footer></footer>
<div class="fixed"></div>
</body>
<script src="/static/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/js/jquery.mousefollow2.js" type="text/javascript"></script>
<script type="text/javascript">
	function searchValidate(){
		var form = document.getElementById('searchForm');
		form.submit();
	}
	$(function() {
		//判断是编号查询还是文件查询
		var fileName=$("#fileName").val();
		if(fileName!=""){
			$($(".yz_boxptxt").find("a")[1]).addClass("act");
			$($(".yz_input_box")[1]).addClass("yz_input_boxatv");
		}else{
			$($(".yz_boxptxt").find("a")[0]).addClass("act");
			$($(".yz_input_box")[0]).addClass("yz_input_boxatv");
		}
		$("#policyPdf").val($("#fileName").val());
		$(".yz_boxptxt a").click(function() {
			$(this).addClass("act").siblings().removeClass("act");
			$(".yz_input_box").eq($(this).index()).addClass("yz_input_boxatv").siblings().removeClass("yz_input_boxatv");
		})
		
		if($("#previewUrl")[0]!=undefined){
			var previewUrl=$("#previewUrl")[0].src;//获取保单
		}
		var insuredName=$("#insuredName").val();//被保险人单位名称
		var certificateDepart=$("#certificateDepart").val();//投标项目名称
		var startDate=$("#startDate").val();//投保时间
		var electricPower=$("#electricPower").val();//投保金额
		if(insuredName!=null && insuredName!=""){
			$('.noyzerr img').css("cursor","pointer");
			$('.noyzerr img').mousefollow({
				html: '<div  class="hidden-box"><div class="hiddenbox"  style="background: url('+previewUrl+')no-repeat left center;background-size: 40%;"><div class="text-desc"><h5>被保险人单位名称：</h5><p>'+insuredName+'</p><h5>投标项目名称：</h5><p>'+certificateDepart+'</p><h6>投保时间：</h6><p>'+startDate+'</p><h6>保证金金额：</h6><p>'+electricPower+'元</p></div></div></div>',
				speed: 300,
				zIndex: 100
			});
		}
	});
	//上传pdf文件查询
	$("#pdfVerification").change(function(){
		var file=this.files[0];
		if(file!=null){
	        //验证文件格式和大小
	        if(file.size>1024*1024*10){
	            layer.msg("所选文件超出允许上传文件大小",{icon:0,time:2000});
	            var fileId = document.getElementById('pdfVerification');
	            fileId.value = '';
	            $("#policyPdf").val("请上传pdf");
	            return false;
	        }
	        var fileName=file.name;
	        var suffix=fileName.substring(fileName.lastIndexOf(".")+1,fileName.length);
	        var allow=["pdf"];
	        if(allow.indexOf(suffix)<0){
	            layer.msg("暂不支持该类型文件",{icon:0,time:2000});
	            var fileId = document.getElementById('pdfVerification');
	            fileId.value = '';
	            $("#policyPdf").val("请上传pdf");
	            return false;
	        }
		    searchPdf();
	    }
	})
	function searchPdf(){
		if($("input[name='pdfVerification']").val()==""){
			layer.msg("请先上传文件",{icon:0,time:2000});
		}else{
			var form = document.getElementById('searchPdf');
			form.submit();
		}
	}
</script>
</html>